[submodule "lib/bed-tools-gg"]
	path = lib/bed-tools-gg
	url = git@github.com:ggirelli/bed-tools-gg.git
[submodule "lib/preseq"]
	path = lib/preseq
	url = git@github.com:/ggirelli/preseq
[submodule "tools/centrality_estimate"]
	path = tools/centrality_estimate
	url = git@github.com:ggirelli/gpseq-centrality-estimate.git
